@charset "utf-8";

/* CSS Document */
#content{max-width:800px; margin:0 auto;
	font-family: "Times New Roman", Times, sans-serif;
}
#screenshot{background:#A9A9A9}

#hinh1, #hinh2, #hinh3, #hinh4, #hinh5, #hinh6, #hinh7, #hinh8, #hinh9, #hinh10, #hinh11, #hinh12, #hinh13, #hinh14, #hinh15, #hinh16, #hinh17, #hinh18,#hinh19, #hinh20, #hinh21, #hinh22, #hinh23, #hinh24, #hinh25, #hinh26, #hinh27, #hinh28, #hinh29, #hinh30{ width:50px; height:10px; padding:1px}
#tenquechinh ,#tenquebien ,#tenqueho,#tenquethac,#tenquetong{ font-size:17px; color:#900 ; font-weight:bolder}
.chitietngay{font-size:17px;text-align:center;font-weight:bold}
#cungqc ,#cungqb{font-size:15px;text-align:center;font-weight:bold}
#tbchinh{width:100%}
.f-grid {width:100%;
    display: flex;
    margin-left: -1rem;
    flex-flow: row wrap;
}

.f-grid-col {
    flex: 1 0;
    margin-left: 1rem;
    margin-bottom: 1rem;
}
.hinhque {
    width:100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.tablechinh{
        border-collapse: collapse;
        width:100%;
}
.tablechinh td{
	text-align: justify;
	font-size: 20px;
	font-weight:bold;border-bottom: 1px solid  gray;
        padding:5px;
}

div.container {
    width: 20%;  
    margin:0 auto;  
}
/* định dạng thẻ div chưa các button tab */
div.tab {
    overflow: hidden; 
    border: 1px solid #ccc; 
    background-color: #f1f1f1; 
}
 
/* định dạng các button tab */
div.tab button {
    background-color: inherit; 
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 12px;
    transition: 0.3s;
    font-size: 13px;
}
 
/* đổi màu khi một button tab được hover */
div.tab button:hover {
    background-color: #ddd;
}
 
/* đổi màu nền cho tab đang được hiển thị nội dung */
div.tab button.active {
    background-color: #ccc;
}
div.tab1 {
    overflow: hidden; 
    border: 1px solid #ccc; 
    background-color: #f1f1f1; 
}
 
/* định dạng các button tab */
div.tab1 button {
    background-color: inherit; 
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 12px;
    transition: 0.3s;
    font-size: 13px;
}
 
/* đổi màu khi một button tab được hover */
div.tab1 button:hover {
    background-color: #ddd;
}
 
/* đổi màu nền cho tab đang được hiển thị nội dung */
div.tab1 button.active {
    background-color: #ccc;
}
 
/* định dạng nội dung hiển thị */
.tabcontent {
    display: none;
    padding: 3px 9px;
    border: 1px solid #ccc;
    border-top: none;
}

.chitietngay {
    text-align: center;
}